@using System.Text

<div class="te_theme te_dark" style="color-scheme: dark;">

    @if (_failedToInitialize) // The remainder of the UI has to still render so the JavaScript initialization can find the HTML elements.
    {
        <div>
            Failed to initialize
        </div>
    }

    @{
        var stringBuilder = new StringBuilder(capacity: 128); // I'm not sure on the details of what me making this initial capacity larger would have on the collection of this StringBuilder so 128 is the number I'll go with for now.
        var (startLineIndex, endLineIndex) = GetStartEndLineIndices();
    }

    <div class="te_component-class" tabindex="-1" id="te_component-id">
         
        <div class="te_total-height" style="@GetTotalHeightStyle(stringBuilder)"></div>
        <div style="@GetLargeRectangleToOffsetLinesStyle(stringBuilder, startLineIndex)"></div>

        @if (Model.HasSelection)
        {
            var start = Model.SelectionAnchor;
            var end = Model.SelectionEnd;
            if (end < start)
                (start, end) = (end, start);
            for (int pos = start; pos < end; pos++)
            {
                <div class="te_select"
                     style="@GetSelectionStyle(stringBuilder, ref pos, end)">
                </div>
            }
        }

        @if (startLineIndex >= 0 && endLineIndex >= 0)
        {
            int startPosition = 0;
            if (startLineIndex == 0)
                startPosition = 0;
            else if (startLineIndex - 1 < Model.LineBreakPositionList.Count)
                startPosition = Model.LineBreakPositionList[startLineIndex - 1] + 1; // You get the line ending of the previous line and then + 1 because all line endings are stored as '\n' until saving the file in which they are swapped out for the desired line endings.
            else
                startLineIndex = 0; // I need this so the value is initialized but I TODO: need to look into this case further

            int endPosition;
            if (endLineIndex == 0 || endLineIndex >= Model.LineBreakPositionList.Count)
                endPosition = Model.Length; // This might be wrong. I think it takes an extra line (even beyond the "extra line so the virtualization looks smoother").
            else if (endLineIndex < Model.LineBreakPositionList.Count)
                endPosition = Model.LineBreakPositionList[endLineIndex];
            else
                endPosition = 0; // I need this so the value is initialized but I TODO: need to look into this case further

            int i = startPosition;

            byte currentDecorationByte = 0;

            while (i < endPosition)
            {
                currentDecorationByte = GetDecorationByte(i);

                <div class="te_row">
                    @for (; i < endPosition; i++)
                    {
                        if (Model[i] != '\n' && GetDecorationByte(i) == currentDecorationByte)
                        {
                            switch (Model[i])
                            {
                                case '\t':
                                    stringBuilder.Append("&nbsp;&nbsp;&nbsp;&nbsp;");
                                    break;
                                case '\0':
                                    stringBuilder.Append("0");
                                    break;
                                case ' ':
                                    stringBuilder.Append("&nbsp;");
                                    break;
                                case '<':
                                    stringBuilder.Append("&lt;");
                                    break;
                                case '>':
                                    stringBuilder.Append("&gt;");
                                    break;
                                case '"':
                                    stringBuilder.Append("&quot;");
                                    break;
                                case '\'':
                                    stringBuilder.Append("&#39;");
                                    break;
                                case '&':
                                    stringBuilder.Append("&amp;");
                                    break;
                                default:
                                    stringBuilder.Append(Model[i]);
                                    break;
                            }
                        }
                        else
                        {
                            <span class="@Model.DecorationMapToCssClass(currentDecorationByte)">@((MarkupString)stringBuilder.ToString())</span>
                            stringBuilder.Clear();
                            currentDecorationByte = GetDecorationByte(i);

                            if (Model[i] == '\n')
                            {
                                ++i;
                                break;
                            }
                            else
                            {
                                switch (Model[i])
                                {
                                    case '\t':
                                        stringBuilder.Append("&nbsp;&nbsp;&nbsp;&nbsp;");
                                        break;
                                    case '\0':
                                        stringBuilder.Append("0");
                                        break;
                                    case ' ':
                                        stringBuilder.Append("&nbsp;");
                                        break;
                                    case '<':
                                        stringBuilder.Append("&lt;");
                                        break;
                                    case '>':
                                        stringBuilder.Append("&gt;");
                                        break;
                                    case '"':
                                        stringBuilder.Append("&quot;");
                                        break;
                                    case '\'':
                                        stringBuilder.Append("&#39;");
                                        break;
                                    case '&':
                                        stringBuilder.Append("&amp;");
                                        break;
                                    default:
                                        stringBuilder.Append(Model[i]);
                                        break;
                                }
                            }
                        }
                    }

                    @if (stringBuilder.Length > 0)
                    {
                        <span class="@Model.DecorationMapToCssClass(currentDecorationByte)">@((MarkupString)stringBuilder.ToString())</span>
                        stringBuilder.Clear();
                    }
                </div>
            }
        }

        <div id="te_cursor-id" style="@GetCursorStyle(stringBuilder)"></div>
    </div>

    @if (_tooltipOccurred)
    {
        var tooltipText = Model.GetTooltipText(_tooltip);
        if (tooltipText is null)
        {
            _tooltipOccurred = false;
        }
        else
        {
            <div class="te_tooltip" style="@GetTooltipStyle(stringBuilder)">@tooltipText</div>
        }
    }

    @if (_showContextMenu)
    {
        <div class="te_tooltip" style="@GetDropdownStyle(stringBuilder)">dropdown</div>
    }
</div>
