@using System.Text

<div class="te_theme te_dark" style="color-scheme: dark;">

    @if (_failedToInitialize) // The remainder of the UI has to still render so the JavaScript initialization can find the HTML elements.
    {
        <div>
            Failed to initialize
        </div>
    }

    @{
        var stringBuilder = new StringBuilder(capacity: 128); // I'm not sure on the details of what me making this initial capacity larger would have on the collection of this StringBuilder so 128 is the number I'll go with for now.
        var (startLineIndex, endLineIndex) = GetStartEndLineIndices();
    }

    <div class="te_component-class" tabindex="-1" id="te_component-id">
         
        <div class="te_total-height" style="@GetTotalHeightStyle(stringBuilder)"></div>
        <div style="@GetLargeRectangleToOffsetLinesStyle(stringBuilder, startLineIndex)"></div>

        @if (Model.HasSelection)
        {
            var start = Model.SelectionAnchor;
            var end = Model.SelectionEnd;
            if (end < start)
                (start, end) = (end, start);
            for (int pos = start; pos < end; pos++)
            {
                <div class="te_select"
                     style="@GetSelectionStyle(stringBuilder, ref pos, end)">
                </div>
            }
        }

        @if (startLineIndex >= 0 && endLineIndex >= 0)
        {
            var (startPosition, endPosition) = GetStartEndPositions(startLineIndex, endLineIndex);
            byte currentDecorationByte = 0;

            while (startPosition < endPosition)
            {
                currentDecorationByte = GetDecorationByte(startPosition);

                <div class="te_row">
                    @for (; startPosition < endPosition; startPosition++)
                    {
                        if (Model[startPosition] != '\n' && GetDecorationByte(startPosition) == currentDecorationByte)
                        {
                            AppendEscapedCharacter(stringBuilder, Model[startPosition]);
                        }
                        else
                        {
                            <span class="@Model.DecorationMapToCssClass(currentDecorationByte)">@((MarkupString)stringBuilder.ToString())</span>
                            stringBuilder.Clear();
                            currentDecorationByte = GetDecorationByte(startPosition);

                            if (Model[startPosition] == '\n')
                            {
                                ++startPosition;
                                break;
                            }
                            else
                            {
                                AppendEscapedCharacter(stringBuilder, Model[startPosition]);
                            }
                        }
                    }

                    @if (stringBuilder.Length > 0)
                    {
                        <span class="@Model.DecorationMapToCssClass(currentDecorationByte)">@((MarkupString)stringBuilder.ToString())</span>
                        stringBuilder.Clear();
                    }
                </div>
            }
        }

        <div id="te_cursor-id" style="@GetCursorStyle(stringBuilder)"></div>
    </div>

    @if (_tooltipOccurred)
    {
        var tooltipText = Model.GetTooltipText(_tooltip);
        if (tooltipText is null)
        {
            _tooltipOccurred = false;
        }
        else
        {
            <div class="te_tooltip" style="@GetTooltipStyle(stringBuilder)">@tooltipText</div>
        }
    }

    @if (_showContextMenu)
    {
        <div class="te_tooltip" style="@GetDropdownStyle(stringBuilder)">dropdown</div>
    }
</div>
