@using System.Text

@if (_failedToInitialize)
{
    <div>
        Failed to initialize
    </div>
}

@{
    // This is a bit awkward because I don't believe I can stack alloc in the markup / (I think I
    // also have seen in the past that I can't stackalloc Blazor WASM maybe it was related to unsafe code?).
    //
    // I'm going to throw an initial capacity based on feeling alone.
    // If this is 64, it hopefully will often miss a reallocation.
    // I'm not sure on the details of what me making this initial capacity larger
    // would have on the collection of this StringBuilder so... 64 is the number for now I guess.
    //
    // UPDATE: originally I had 2 string builders, one for the attribute values,
    // and one for the text on screen.
    //
    // I realize they aren't used at the same time, so I can just allocate one StringBuilder for both uses.
    //
    // As a result I'll go up to 128 with the singular one. Because I'm thinking of a comment
    // (for example this very comment I'm typing now) I see that I hit around 100 characters on each line.
    // So I need to fit 100 characters in the StringBuilder to get them all in the same span with the same CSS class.
    //
    var stringBuilder = new StringBuilder(capacity: 128);
}

<div>
    CharacterWidth:@Model.Measurements.CharacterWidth<br/>
    LineHeight:@Model.Measurements.LineHeight<br/>
    EditorWidth:@Model.Measurements.EditorWidth<br/>
    EditorHeight:@Model.Measurements.EditorHeight<br/>
    EditorLeft:@Model.Measurements.EditorLeft<br/>
    EditorTop:@Model.Measurements.EditorTop<br/>
    ScrollbarLiteralWidth:@Model.Measurements.ScrollbarLiteralWidth<br/>
    ScrollbarLiteralHeight:@Model.Measurements.ScrollbarLiteralHeight<br/>

    <hr/>

    LineEndPositionList.Count:@Model.LineBreakPositionList.Count<br />

    <hr/>

    LineIndex: @Model.LineIndex<br />
    ColumnIndex: @Model.ColumnIndex<br />
    PositionIndex: @Model.PositionIndex<br />
    
    <hr/>

    SelectionAnchor: @Model.SelectionAnchor<br/>
    SelectionEnd: @Model.SelectionEnd<br/>

</div>

@if (_tooltipOccurred)
{
    var tooltipText = Model.GetTooltipText(_tooltip);
    if (tooltipText is null)
    {
        _tooltipOccurred = false;
    }
    else
    {
        stringBuilder.Append("left:");
        stringBuilder.Append(Math.Max(0, _tooltipClientX - Model.Measurements.ScrollbarLiteralWidth).ToString("0.##", System.Globalization.CultureInfo.InvariantCulture));
        stringBuilder.Append("px;");
        stringBuilder.Append("top:");
        stringBuilder.Append(Math.Max(0, _tooltipClientY - Model.Measurements.ScrollbarLiteralHeight).ToString("0.##", System.Globalization.CultureInfo.InvariantCulture));
        stringBuilder.Append("px;");
        var tooltipStyle = stringBuilder.ToString();
        stringBuilder.Clear();
        
        <div class="te_tooltip"
             style="@tooltipStyle">
            @tooltipText
        </div>
    }
}

<div class="te_component-class"
     tabindex="-1"
     id="te_component-id">
    
    
    @if (Model.HasSelection)
    {
        var start = Model.SelectionAnchor;
        var end = Model.SelectionEnd;

        if (end < start)
        {
            var temp = start;
            start = end;
            end = temp;
        }

        for (int pos = start; pos < end; pos++)
        {
            var (lineStart, lineEnd) = Model.GetLineBoundsExcludingLineEndingCharacterByPositionIndex(pos);
        }
    }

    @{
        int i = 0;
        var exclusiveEndDecorationIndex = 0;

        byte currentDecorationByte = 0;

        if (Model.DecorationArray is not null)
        {
            if (Model.DecorationArray.Length <= Model.Length)
                exclusiveEndDecorationIndex = Model.DecorationArray.Length;
            else
                exclusiveEndDecorationIndex = Model.Length;
        }

        while (i < Model.Length)
        {
            if (exclusiveEndDecorationIndex > i)
                currentDecorationByte = Model.DecorationArray![i];
            else
                currentDecorationByte = 0;

            <div>
                @for (; i < Model.Length; i++)
                {
                    if (i < exclusiveEndDecorationIndex)
                    {
                        if (Model[i] != '\n' && Model.DecorationArray![i] == currentDecorationByte)
                        {
                            stringBuilder.Append(Model[i]);
                        }
                        else
                        {
                            <span class="@Model.DecorationMapToCssClass(currentDecorationByte)">@stringBuilder.ToString()</span>
                            stringBuilder.Clear();
                            currentDecorationByte = Model.DecorationArray![i];

                            if (Model[i] == '\n')
                            {
                                ++i;
                                break;
                            }
                            else
                            {
                                stringBuilder.Append(Model[i]);
                            }
                        }
                    }
                    else
                    {
                        if (Model[i] != '\n')
                        {
                            stringBuilder.Append(Model[i]);
                        }
                        else
                        {
                            <span>@stringBuilder.ToString()</span>
                            stringBuilder.Clear();

                            if (Model[i] == '\n')
                            {
                                ++i;
                                break;
                            }
                            else
                            {
                                stringBuilder.Append(Model[i]);
                            }
                        }
                    }
                }

                @if (i < exclusiveEndDecorationIndex || (i > 0 && i == exclusiveEndDecorationIndex))
                {
                    if (stringBuilder.Length > 0)
                    {
                        <span class="@Model.DecorationMapToCssClass(currentDecorationByte)">@stringBuilder.ToString()</span>
                        stringBuilder.Clear();
                    }
                }
                else
                {
                    if (stringBuilder.Length > 0)
                    {
                        <span>@stringBuilder.ToString()</span>
                        stringBuilder.Clear();
                    }
                }
            </div>
        }
    }

    @*
    @if (Model.DecorationArray is null || Model.DecorationArray.Length < Model.Length || Model.DecorationArray.Length == 0)
    {
        // I'm just going to avoid the decorations if things look sketchy.
        // I need to figure out how to do this with good precision.
        //
        // In the IDE repo, I put the character and the decoration byte as a singular struct.
        // Thus the Content and the decorations are in the same "List".
        // But that forces you to carry around decorations even if you don't intend on using them...
        int i = 0;

        
    }
    else
    {
        
    }
    *@

    @{
        stringBuilder.Append("left:");
        //
        // Two decimal places for the double values avoids excessive information being sent when the visual difference is negligible.
        //
        // Avoid ',' in css when user's culture would default to using that in place of '.'
        // with System.Globalization.CultureInfo.InvariantCulture
        //
        stringBuilder.Append((Model.Measurements.CharacterWidth * Model.ColumnIndex).ToString("0.##", System.Globalization.CultureInfo.InvariantCulture));
        stringBuilder.Append("px;");

        stringBuilder.Append("top:");
        stringBuilder.Append((Model.Measurements.LineHeight * Model.LineIndex).ToString("0.##", System.Globalization.CultureInfo.InvariantCulture));
        stringBuilder.Append("px;");

        var cursorStyle = stringBuilder.ToString();
        stringBuilder.Clear();
    }
    <div class="te_cursor-class"
         id="te_cursor-id"
         style="@cursorStyle">
    </div>
</div>
